[submodule "yasnippets-rails"]
	path = yasnippets-rails
	url = git://github.com/eschulte/yasnippets-rails.git
[submodule "yasnippets-shoulda"]
	path = yasnippets-shoulda
	url = git://github.com/rwc9u/yasnippets-shoulda.git

[submodule "org2blog"]
	path = org2blog
	url = git@github.com:chopmo/org2blog.git
